version: '3.8'

services:
  proxy_node:
    build: .
    container_name: proxy_agent_v1
    ports:
      - "5000:5000"
    volumes:
      - .:/app
      - lnd-data:/root/.lnd:ro 
    environment:
      - FLASK_ENV=development
      - LND_GRPC_HOST=lnd_node
      - LND_GRPC_PORT=10009
    depends_on:
      - lnd_node

  lnd_node:
    image: lightninglabs/lnd:v0.17.0-beta
    container_name: lnd_neutrino
    ports:
      - "9735:9735"
      - "10009:10009"
    dns:
      - 8.8.8.8
    volumes:
      - lnd-data:/root/.lnd
    command: >
      --bitcoin.active
      --bitcoin.testnet
      --bitcoin.node=neutrino
      --rpclisten=0.0.0.0:10009
      --tlsextraip=0.0.0.0
      --tlsextraip=lnd_node
      --noseedbackup
      --alias="PROXY_AGENT_01"

volumes:
  lnd-data: