version: '3.8'

services:
  agent:
    image: proxy-node:v0.1-alpha
    container_name: proxy_agent_v1
    command: >
      bash -c "pip install mcp uvicorn starlette && python mcp_server.py"
    volumes:
      - .:/app
      - ./secrets/tls.cert:/root/.lnd/tls.cert
      - ./secrets/admin.macaroon:/root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
    environment:
      - FLASK_ENV=development
      - LND_GRPC_HOST=polar-n1-alice
      - LND_GRPC_PORT=10009
      - HOST=0.0.0.0 
      - PORT=8000
    ports:
      - "5000:5000"
      - "8000:8000"
    networks:
      - default
      - polar_network

networks:
  polar_network:
    external: true
    name: polar-network-1_default