version: '3.8'

services:
  agent:
    image: proxy-node:v0.1-alpha
    container_name: proxy_agent_v1
    volumes:
      - .:/app
      - ./secrets/tls.cert:/root/.lnd/tls.cert
      - ./secrets/admin.macaroon:/root/.lnd/data/chain/bitcoin/regtest/admin.macaroon
    environment:
      - FLASK_ENV=development
      # --- NETWORK CONFIGURATION ---
      # We are now talking directly to the container name
      - LND_GRPC_HOST=polar-n1-alice
      # We use the INTERNAL port (10009), not the external one (10001)
      - LND_GRPC_PORT=10009
    ports:
      - "5000:5000"
    networks:
      - default
      - polar_network

networks:
  polar_network:
    external: true
    # This must match your 'docker network ls' output exactly
    name: polar-network-1_default